.auth-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.auth-toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.auth-toggle-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin: 0 5px;
}

.auth-toggle-buttons button.active {
    background-color: #0056b3;
    font-weight: bold;
}

.auth-form {
    width: 100%;
}

.auth-box {
    /* flex: 1; */
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
