#Header {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 10px;
    align-items: center;
}

button {
    padding: 5px;
    border-radius: 4px;
    background-color: aqua;
}